@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: 'Space Mono', monospace, sans-serif;
    background-color: rgb(20, 21, 29);
    color: lightslategrey;
    text-align: center;
}

a {
    color: royalBlue;
}

a:visited {
    color: rebeccaPurple;
}

a:hover {
    color: slateBlue;
}

.bold {
    font-weight: 800;
}

.lightBox {
    outline-color: lightslategray;
    outline-style: solid;
    outline-width: 0.3em;
    border-radius: 10%;
}

/* do NOT, under ANY CIRCUMSTANCES, rename this to .heavyBox */

.darkBox {
    outline-color: lightslategray;
    outline-style: solid;
    outline-width: 0.5em;
    border-radius: 10%;
}