@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-family: 'Space Mono', monospace, sans-serif;
    background-color: rgb(20, 21, 29);
    color: lightslategrey;
    text-align: center;
}

button {
    font-family: 'Space Mono', monospace, sans-serif;
    background-color: rgb(20, 21, 29);
    color: lightslategrey;
    text-align: center;
}

a {
    color: royalBlue;
}

a:visited {
    color: rebeccaPurple;
}

a:hover {
    color: slateBlue;
}

.bold {
    font-weight: 800;
}

.lightBox {
    border: 0.2em solid lightslategray;
    border-radius: 1em;
    padding: 0.2em;
}

.darkBox {
    border: 0.5em solid lightslategray;
    border-radius: 1em;
    padding: 0.2em;
}

.fillBox {
    background-color: lightslategray;
    border: 0.5em solid lightslategray;
    border-radius: 1em;
    padding: 0.2em;
}

.line {
    height: 1px;
    border: 0.5em solid lightslategray;
    border-radius: 1em;
    padding: 0.2em;
}

.sharp {
    border-radius: 0px;
}

.lessSharp {
    border-radius: 0.5em;
}

.title {
    font-size: 100px;
    margin: 0.4em 0.7em;
    margin-bottom: 0em;
}

.subtitle {
    font-size: 45px;
    margin: 0.2em 1.57em;
}

.menuButton {
    margin: 0.8em;
    padding: 0.6em 1em;
    font-size: 20px;
    width: 10em;
}

.menuButton:hover {
    border-color: rgb(64, 75, 84);
}

.menuButton:active {
    border-color: rgb(36, 44, 52);
}

.console {
    color: lightgreen;
    background-color: rgb(20, 29, 25);
    border-color:rgb(20, 29, 25);
    text-align: left;
    font-size: 35px;
    margin: 0.2em 1.5em;
}

.consoleImg {
    background-color: rgb(25, 38, 33);
    border-color: rgb(20, 29, 25);
    border-style: double;
    vertical-align: middle;
    margin-right: 0.3em;
    opacity: 1;
}

.normal {
    color: lightslategray;
}

.normal:visited {
    color: lightslategray;
}

.normal:hover {
    color: lightslategray;
}